In [64]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import math

In [66]:
path  = '/content/drive/MyDrive/DMS'
points = os.path.join(path, 'Random_Points.csv')

In [67]:
df = pd.read_csv(points, header=0, encoding='latin1')# 'latin1' or "cp1252"
#df.to_csv(os.path.join(path,'points_utf8.csv'), index=False, encoding='utf-8')

In [68]:
df.head()

   FID        Location
0    0  12° 34' 45.67"
1    1  89° 10' 59.23"
2    2  45° 22' 11.89"
3    3  67° 49' 33.12"
4    4  23° 15' 27.54"

In [69]:
# Use regex to extract degree, minute, second
df[['Degree', 'Minute', 'Second']] = df['Location'].str.extract(r'(\d+)°\s+(\d+)\'\s+([\d\.]+)"')
# Convert to proper types
df['Degree'] = df['Degree'].astype(int)
df['Minute'] = df['Minute'].astype(int)
df['Second'] = df['Second'].astype(float)
df.head()

   FID        Location  Degree  Minute  Second
0    0  12° 34' 45.67"      12      34   45.67
1    1  89° 10' 59.23"      89      10   59.23
2    2  45° 22' 11.89"      45      22   11.89
3    3  67° 49' 33.12"      67      49   33.12
4    4  23° 15' 27.54"      23      15   27.54

In [70]:
# Add Columns for Decimal Degree
df['Location_Decimal_D'] = df['Degree'] + df['Minute']/60 + df['Second']/3600
df.head()

   FID        Location  Degree  Minute  Second  Location_Decimal_D
0    0  12° 34' 45.67"      12      34   45.67           12.579353
1    1  89° 10' 59.23"      89      10   59.23           89.183119
2    2  45° 22' 11.89"      45      22   11.89           45.369969
3    3  67° 49' 33.12"      67      49   33.12           67.825867
4    4  23° 15' 27.54"      23      15   27.54           23.257650

In [71]:
# df = df.drop(['Location','Degree','Minute','Second'], axis=1)
# df.head()
df.to_csv(os.path.join(path,'Location_Decimal_Degree.csv'), index=False, encoding='utf-8')

In [72]:
# def decimal_to_dms(decimal_degree):
#     degree = int(decimal_degree)
#     minute = int((decimal_degree - degree) * 60)
#     second = (decimal_degree - degree - minute/60) * 3600
#     return f"{degree}° {minute}' {second:.2f}\""
# # Create Location column in DMS format
# df['Location'] = df['Location_Decimal_D'].apply(decimal_to_dms)
# print(df.head())